.site {
    &-header {
        position: absolute;
        height: 130px;
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        overflow: hidden;
        top: 0;
        z-index: 1;

        &-image {
            margin-left:auto;
            width: 70px;
            height: 70px;
            border-radius: 50%

        }
    }

    &-title {
        font-size: 4rem;
        font-weight: 900;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.2;
        a {
            text-decoration: none;
            color: #f1f1f1;
        }
    }

    &-branding {
        display: flex;
        align-items: center;
        padding: 10px 0 0 0;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 5px;
    }

    &-content {
        display: flex;
        position: relative;
    }
    &-footer {

    }

    .skip-link {
        display: none;
    }
}
