url = "/article"
layout = "default"
==

<?php

use SimonPreston\Content\Models\Article;

function onStart() {
    $this['article'] = Article::where('slug', '=', 'test')->first();
}

?>

==

<div class="entry-header">
    <div class="entry-banner">
        <img class="entry-banner__image" src="{{ '/storage/app/media/'~article.cover_image }}">
        <div class="entry-title-wrapper">
            <h1 class="entry-title">{{ article.title }}</h1>
            <div class="entry-meta">
                <span class="posted-on">Posted on
                    <a href="{{ '/'~article.slug }}" rel="bookmark">
                        <time class="entry-date published" datetime="{{ article.published_at }}">{{ article.published_at }}</time>
                        {% if article.updated_at %}
                        <time class="updated" datetime="{{ article.updated_at }}">{{ article.updated_at }}</time>
                        {% endif %}
                    </a>
                </span>
                <span class="byline"> by
                    <span class="author vcard">
                        <a class="url fn n" href="{{ 'http://www.simonpreston.in/author/simonpreston' }}">{{ article.author_id }}</a>
                    </span>
                </span>
                {% if article.categories | length > 0 %}
                <span class="cat-links">Posted in
                    {% for category in article.categories %}
                    <a href="{{ '/category/'~category.slug }}" rel="category tag">{{ category.name }}</a>,
                    {% endfor %}
                </span>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <article id="post-69" class="">
                <div class="entry-content">
                    {{ article.content | raw }}
                </div>
            </article>
            <nav class="navigation post-navigation" role="navigation" aria-label="Posts">
                <h2 class="screen-reader-text">Post navigation</h2>
                <div class="nav-links">
                    <div class="nav-previous">
                        <a href="http://www.simonpreston.in/2019/03/01/using-the-raspberry-pi-as-a-dhcp-server/" rel="prev">Using the Raspberry Pi as a DHCP server.</a>
                    </div>
                    <div class="nav-next">
                        <a href="http://www.simonpreston.in/2019/03/15/securing-your-website-with-ssl-part-1-paid-for-services/" rel="next">Securing Your Website With SSL Part 1: Paid For Services.</a>
                    </div>
                </div>
            </nav>
            <div id="comments" class="comments-area">
                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply
                        <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2019/03/08/so-i-bought-a-raspberry-pi-3/#respond" style="display:none;">Cancel reply</a></small>
                    </h3>
                    <form action="{{ '/article/'~article.id~'/comment'}}" class="comment-form" novalidate="">
                        <p class="comment-notes">
                            <span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span>
                        </p>
                        <p class="comment-form-comment">
                            <label for="comment">Comment</label>
                            <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
                        </p>
                        <p class="comment-form-author">
                            <label for="author">Name <span class="required">*</span></label>
                            <input id="author" name="author" type="text" value="" size="30" maxlength="245" required="required">
                        </p>
                        <p class="comment-form-email">
                            <label for="email">Email <span class="required">*</span></label>
                            <input id="email" name="email" type="email" value="" size="30" maxlength="100" aria-describedby="email-notes" required="required">
                        </p>
                        <p class="comment-form-url">
                            <label for="url">Website</label>
                            <input id="url" name="url" type="url" value="" size="30" maxlength="200">
                        </p>
                        <p class="form-submit">
                            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment">
                            <input type="hidden" name="comment_post_ID" value="69" id="comment_post_ID">
                            <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                        </p>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <aside id="secondary" class="widget-area">
        <section id="custom_html-2" class="widget_text widget widget_custom_html">
            <div class="textwidget custom-html-widget">
                <img width="240"
                     height="240"
                     src="https://www.simonpreston.net/wp-content/uploads/2019/02/cropped-23467285_10159682144620217_8247908484029863451_o.jpg"
                     class="custom-logo"
                     alt="simonpreston"
                     srcset="https://www.simonpreston.net/wp-content/uploads/2019/02/cropped-23467285_10159682144620217_8247908484029863451_o.jpg 240w, https://www.simonpreston.net/wp-content/uploads/2019/02/cropped-23467285_10159682144620217_8247908484029863451_o-150x150.jpg 150w"
                     sizes="(max-width: 240px) 85vw, 240px"
                >

                <p>
                    Im Simon, the owner of this blog and a software developer based in the UK. This site is for my own personal ramblings.
                </p>
            </div>
        </section>
    </aside>
</div>
