
@use 'variables';

@use 'layout/content-area';
@use 'layout/entry';
@use 'layout/main-navigation';
@use 'layout/site';
@use 'layout/layout';
@use 'layout/widget-area';

//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
